@font-face {font-family: BPG Nino Mtavruli;src: url(bpg_nino_mtavruli_normal.ttf);font-weight:400;}
@font-face {font-family: sylfaen; src: url(bpg_glaho_sylfaen.ttf);font-weight:401;}
html
{
	font-family: BPG Nino Mtavruli;
}

body{
	background-color: grey;
}

:root{
	--color1: #A5D61C;
	--color2: #00A2E8;
}

a, a:hover, a:visited, a:active{
	text-decoration: none;
	color:var(--color2);
}
h1{
	position:absolute;
	padding-left:60px;
	color:var(--color1); 
	margin:35px 0 40px 0;
}

.table-subject{
	text-align:right;
	width:50%;
}

.table-input{
	text-align:left;
}

.table-comment{
	color:blue;
	margin:auto;
}

#wgrant{
	position:relative; 
	font-size:20px; 
	margin:auto;
}

.author{
	position:absolute;
	bottom:0;
}
.sylfaen{
	font-family: sylfaen;
}
.br {
	line-height:36px;
	}
.circle-container{
	border-radius:50%; 
	width:100px; height:100px;
	margin:auto;
	position:relative;
}
#headerImage{
	position:absolute;
	right:0;
}
.circle{
	border-radius:50%; 
	width:100px; height:100px; 
	background-color:var(--color1);
	box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.75);
}
.circle:hover{
	background-color:var(--color2); 
	box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.75);
}
.circleOne{
	border-radius:50%;
	text-align: center; 
	width:100px; height:100px; 
	background-color:var(--color1); 
	box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.75);
}
.circleSmall-container{
	border-radius:50%; 
	width:37px; height:37px;
	position:absolute;
	bottom:0;
}
.circleSmall{
	border-radius:50%; 
	text-align: center;
	width:37px; height:37px; 
	background-color:var(--color1);
	box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.75);
}
.circleSmall:hover{
	border-radius:50%; 
	width:37px; height:37px; 
	background-color:var(--color1); 
	box-shadow: 0px 7px 10px -2px rgba(0,0,0,0.75);
}
header{
	position:fixed; 
	z-index:2; 
	box-shadow: 0px 2px 17px -4px rgba(0,0,0,0.75); 
	top:0px; 
	right:0px; 
	width:100%; 
	height: 100px; 
	background-color:var(--color2);
}

img{
	position:relative;
	top: 50%;
	transform: translateY(-50%);
}

.cover{
	position:relative;
	z-index:2;
	width:800px;
	height:100%;
	margin:auto;
}

.content{
	position:relative; 
	width:800px; 
	height:1000px; 
	background-color:#e9e9e9; 
	padding-top: 100px;
	margin: auto; 
	box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.75);
}

.counter{
	position:absolute; 
	width:128px; 
	height:50%; 
	top:30px; 
	right:-128px;
}

table{
	width:80%;
	text-align: center;
}

@media screen and (max-width: 845px) {
	.cover{width: 100%;}
	.content{
		position:absolute;
		box-shadow:none;
		width: 100%;
		left:0;
	}
	h1{
		position:absolute;
		bottom:0;
		font-size: 25px;
		padding-left:100px;
	}
	.counter{display: none;}
	.subject{
		position:relative;
		margin:auto;
	}
}

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 10;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.box-shadow-menu:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0.5em;
	width: 2em;
	height: 0.3em;
	background: var(--color1);
	box-shadow: 0 0.5em 0 0 var(--color1), 0 1em 0 0 var(--color1);
}

.box-shadow-menu{
	position:absolute; 
	left:40px; 
	top: 50%; 
	transform: translateY(-50%); 
	height: 40px; 
	width: 40px;
	z-index:9;
}